/*Styles för upprepade style-regler*/

.flex{
    display: flex;
}

.t_center{
    text-align: center;
}

.m_auto{
    margin: auto;
}

.purple{
    background: $purple;
}

.purple-1{
    background: $purple-1;
}

.i_center{
    align-items: center;
}

.j_center{
    justify-content: center;
}