@charset "UTF-8";
/*  Mediaqueries to make the website responsible to desktop devices at least  */
*, html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /*The holy font*/
}

.purple_t {
  color: #fff;
  background: #B0008B;
  margin-left: .5rem;
}

.white_t {
  margin-right: .5rem;
  background: #fff;
  color: #B0008B;
}

.btn {
  border-radius: 5.9375rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.1rem;
}

/* Ankor are the best även här*/
header {
  background-color: #F9EBF6;
  position: fixed;
  z-index: 111;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.1875rem;
  /* Menu functionality */
}

header nav .logo {
  width: 9rem;
}

header nav .menu-btn {
  height: 1rem;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .menu-btn .menu-btn_burger {
  width: 2rem;
  height: .15rem;
  background-color: #38524F;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 111;
  background: rgba(255, 213, 246, 0.548);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  padding: 1rem 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

header nav ul.activ {
  -webkit-animation: fadeIn 0.35s cubic-bezier(0.8, 0.61, 0.37, 0.72);
          animation: fadeIn 0.35s cubic-bezier(0.8, 0.61, 0.37, 0.72);
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes upper {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  1% {
    margin-top: 4rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}

@keyframes upper {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  1% {
    margin-top: 4rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}

header nav ul i {
  margin-left: auto;
  margin-top: 1.19rem;
  margin-bottom: 3rem;
}

header nav ul li {
  margin-top: 2rem;
  margin-left: 1rem;
  list-style: none;
  text-align: left;
  -webkit-animation: upper 0.65s cubic-bezier(0, 0, 0.2, 1);
          animation: upper 0.65s cubic-bezier(0, 0, 0.2, 1);
}

header nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #38524F;
  font-weight: thin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38524F), to(#38524F));
  background-image: linear-gradient(#38524F, #38524F);
  background-size: 0 0.105rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);
  transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);
}

header nav ul li a:hover {
  background-size: 100% 0.105rem;
}

header nav ul div.i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1rem;
}

header nav ul div.i img {
  width: 2rem;
}

header nav .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Yes, ankor är otroliga*/
/* Hero section */
section#hero {
  padding: 0;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: 0 0 3rem 0;
  background: #F9EBF6;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  z-index: 5;
}

section#hero h1 {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
  color: #B0008B;
}

section#hero p {
  text-align: center;
  margin: 2rem 2rem;
  font-size: 3rem;
  font-weight: 300;
}

section#hero .btns {
  text-align: center;
  margin-top: 1rem;
}

section#hero img {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  padding: 0 4rem;
}

section#hero .framtid {
  font-family: arial;
  /*Should change font*/
  text-transform: uppercase;
  margin-top: -6rem;
  width: 100%;
  color: #F9EBF6;
  text-align: center;
  margin-bottom: 3rem;
  z-index: -1;
}

.contact-cr {
  width: 5rem;
  height: 5rem;
  background-color: rgba(176, 0, 139, 0.6);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  -webkit-box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
          box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  margin: auto;
  text-align: center;
  padding: 1rem 2.1875rem;
  margin: 3rem 0;
  overflow: hidden;
}

section.round {
  background: #F9EBF6;
  border-radius: 100rem;
  padding: 6rem 2.1875rem;
}

h1 {
  font-size: 3rem;
}

.after::after {
  content: "";
  display: block;
  padding: 0.04rem;
  background: #B0008B;
  width: 35%;
  margin: auto;
  margin-top: 1rem;
}

section#om {
  /*First two pictures*/
  /*ettor och nollor insert here*/
}

section#om .text {
  margin: 3rem 0;
  line-height: 1.5rem;
}

section#om .om-btns {
  width: 100%;
  margin: auto;
  text-align: center;
}

section#om .om-btns input {
  margin-bottom: 1.5rem;
}

section#om #pic1 {
  width: 13rem;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  border-radius: 2rem;
  margin: 3rem 0 0 -17rem;
}

section#om #pic2 {
  width: 13rem;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  border-radius: 2rem;
  margin: -15rem 0 0 11rem;
}

/*Ankor 'gör' livet bättre ;-)*/
section#gor {
  padding: 6rem 0;
}

section#gor h1 {
  margin: 0 2.1875rem 2rem 2.1875rem;
}

section#gor p {
  line-height: 1.5rem;
  margin: 2rem 2.1875rem;
}

section#gor .btn {
  background: white;
  color: #B0008B;
  margin: 1rem 0 0 0;
}

section#gor .språk-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  padding: 0 2.1875rem;
  margin-top: 4rem;
}

section#gor .språk-grid-container .språk-item {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0.6rem;
  margin-right: 1rem;
}

section#gor .språk-grid-container .språk-item img {
  width: 4rem;
}

section#gor .språk-grid-container .språk-item p {
  margin-bottom: 0;
}

section#varfor p {
  margin-top: 2rem;
  line-height: 1.5rem;
}

section#varfor #v-div {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2rem 0;
}

section#varfor .v-wrapper {
  width: 100%;
  margin-top: 2rem;
}

section#varfor .v-wrapper img {
  width: 17rem;
  border-radius: 1rem;
}

section#varfor .v-wrapper #v-img-1 {
  margin-right: -10rem;
}

section#varfor .v-wrapper #v-img-2 {
  margin-left: -10rem;
}

section#Kursstruktur {
  padding: 6rem 3rem;
}

section#Kursstruktur h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

section#Kursstruktur p {
  margin-top: 2rem;
  line-height: 1.5rem;
  line-height: 1.8rem;
}

section#Kursstruktur input {
  margin-top: 3rem;
}

.poang-plan {
  background: #F9EBF6;
  margin: auto;
  text-align: center;
  background: #F9EBF6;
  border-radius: 100rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.poang-plan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  text-align: left;
}

.poang-plan ul li {
  list-style: none;
}

.poang-plan div.div {
  background: #ffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.poang-plan .NIU {
  padding: 0.5rem 0;
  color: #312e2e;
}

.poang-plan h3 {
  text-align: center;
  font-size: 2rem;
}

section#ord {
  padding: 3rem 2.1875rem;
  /*both students*/
}

section#ord h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

section#ord div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5rem auto;
  /*each separate student*/
}

section#ord div#2 {
  direction: ltr;
}

section#ord div#2 {
  direction: rtl;
}

section#ord div img {
  width: 4rem;
  border-radius: 50%;
}

section#ord div div {
  display: inline-block;
  margin: auto 1.5rem;
  font-size: 0.95rem;
}

section#ord div div .name {
  font-weight: bold;
  margin-top: 1rem;
  text-align: left;
}

section#ord div div .work {
  margin-top: 0.4rem;
  color: gray;
  font-size: 0.8rem;
  text-align: left;
}

section#ord div div p {
  font-style: italic;
  text-align: left;
}

section#contact {
  padding: 1rem;
  margin: 3rem 1.5rem;
}

section#contact #rtlperson {
  direction: rtl;
}

section#contact #rtlperson h3 {
  text-align: right;
}

section#contact #rtlperson p {
  direction: ltr;
}

section#contact .cperson h3 {
  text-align: left;
}

section#contact .cperson div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.3rem solid #F9EBF6;
  background-color: #f9ebf62d;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
}

section#contact .cperson div span {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: auto;
}

section#contact .cperson div span h5 {
  font-size: 1rem;
}

section#contact .cperson div span a {
  text-decoration: none;
  color: #555555;
}

section#contact .cperson div span p {
  color: #555555;
}

section#contact .cperson div img {
  width: 3rem;
  border-radius: 50%;
}

footer {
  background: #F9EBF6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer #alle {
  width: 45%;
  margin: 1.0625rem;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 0.5rem 0;
}

footer .sm {
  width: 2rem;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
}

footer .pil {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #F9EBF6;
  margin: auto;
}

footer .pil .pil:hover {
  -webkit-filter: drop-shadow(0 0 0.2rem blue);
          filter: drop-shadow(0 0 0.2rem blue);
}

footer #pil1 {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

footer #pil2 {
  margin-top: 0.1rem;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

footer #best {
  width: 1.5rem;
}

footer p {
  padding: 0.5rem;
  margin-top: 0;
}

footer .ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  section#hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 5rem 5rem;
  }
  section#hero img.imgg {
    width: 40rem;
    border: 0;
  }
  section#hero span {
    margin: 0;
  }
  section#hero span h1 {
    text-align: left;
    font-size: 4rem;
  }
  section#hero span p {
    text-align: left;
  }
  section#hero span .btns {
    text-align: left;
    border: 0.1rem #B0008B;
  }
}

#pilpil {
  width: 50% !important;
  margin-top: -1.5rem !important;
  -webkit-filter: drop-shadow(0 0 0.3rem #b0008b);
          filter: drop-shadow(0 0 0.3rem #b0008b);
}

.poang-plan {
  background: #F9EBF6;
  margin: auto;
  text-align: center;
  background: #F9EBF6;
  border-radius: 100rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.poang-plan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  text-align: left;
}

.poang-plan ul li {
  list-style: none;
}

.poang-plan div.div {
  background: #ffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.poang-plan .NIU {
  padding: 0.5rem 0;
  color: #312e2e;
}

.poang-plan h3 {
  text-align: center;
  font-size: 2rem;
}

#allinfo {
  font-family: "Raleway", sans-serif;
  text-align: left;
}

#allinfo p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

#allinfo title {
  text-align: center;
}

#allinfo h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}

#allinfo #card {
  border: 0.3rem solid #F9EBF6;
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

#allinfo #card #datum {
  font-size: 1.2rem;
  font-weight: 550;
}

#allinfo #card p {
  font-size: 1.2rem;
  font-weight: 600;
}

footer {
  background: #F9EBF6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /*nummer osv m. ikoner*/
}

footer #alle {
  width: 45%;
  margin: 1.0625rem;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 0.5rem 0;
}

footer .sm {
  width: 2rem;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
}

footer .pil {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #F9EBF6;
  margin: auto;
}

footer #pil1 {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

footer #pil2 {
  margin-top: 0.1rem;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

footer #best {
  width: 1.5rem;
}

footer p {
  padding: 0.5rem;
  margin-top: 0;
}

footer .ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=lasmer.css.map */