@charset "UTF-8";
/*Declaring variables for common used colors*/
/*STYLES FOR EVERY PART OF THE WEBSITE*/
*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /*The holy font*/
}

/*Styles for specific button Öppet Hus bl.a.*/
.purple_t {
  color: #fff;
  background: #b0008b;
  margin-left: 0.5rem;
  border: 0.2rem #b0008b;
}

.purple_t:hover {
  background: #f9ebf6 !important;
  color: black !important;
  border: 0.2rem #b0008b !important;
}

/*Styles for specific button, "Läs mer" buttons*/
.white_t {
  margin-right: 0.5rem;
  background: #fff;
  color: #b0008b;
  border: 0.2rem #b0008b;
}

/*Styles for every button*/
.btn {
  border-radius: 5.9375rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

/*Styles for the button when hovering it with cursor*/
.btn:hover {
  background: #f9ebf6 !important;
  color: black !important;
  border: 0.2rem #b0008b !important;
}

/* Ankor are the best även här*/
/*STYLES FOR THE HEADER*/
header {
  position: fixed;
  z-index: 111;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.1875rem;
  /* Menu functionality */
}

header nav .logo {
  width: 9rem;
}

header nav .menu-btn {
  height: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .menu-btn .menu-btn_burger {
  width: 2rem;
  height: 0.15rem;
  background-color: #38524f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  background: rgba(255, 213, 246, 0.548);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  padding: 1rem 2.1875rem;
  opacity: 0;
}

header nav ul span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh !important;
}

header nav ul span .flex {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul.activ {
  -webkit-animation: fadeIn 0.35s cubic-bezier(0.8, 0.61, 0.37, 0.72);
          animation: fadeIn 0.35s cubic-bezier(0.8, 0.61, 0.37, 0.72);
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes upper {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  1% {
    margin-top: 4rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}

@keyframes upper {
  0% {
    margin-top: 4rem;
    opacity: 0;
  }
  1% {
    margin-top: 4rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}

header nav ul i {
  margin-top: 1.8rem !important;
  margin-left: auto;
}

header nav ul li {
  margin-top: 2rem;
  margin-left: 1rem;
  list-style: none;
  text-align: left;
  -webkit-animation: upper 0.65s cubic-bezier(0, 0, 0.2, 1);
          animation: upper 0.65s cubic-bezier(0, 0, 0.2, 1);
}

header nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #38524f;
  font-weight: thin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38524f), to(#38524f));
  background-image: linear-gradient(#38524f, #38524f);
  background-size: 0 0.105rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);
  transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);
}

header nav ul li a:hover {
  background-size: 100% 0.105rem;
}

header nav ul div.i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  margin-bottom: 2.5rem;
}

header nav ul div.i img {
  width: 2rem;
}

header nav .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Yes, ankor är otroliga*/
/* STYLES FOR THE HERO */
section#hero {
  grid-area: header;
  padding: 0;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: 0 0 3rem 0;
  background: #f9ebf6;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  z-index: 5;
}

section#hero h1 {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
  color: #b0008b;
}

section#hero p {
  text-align: center;
  margin: 2rem 2rem;
  font-size: 3rem;
  font-weight: 300;
}

section#hero .btns {
  text-align: center;
  margin-top: 1rem;
}

section#hero img {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  padding: 0 4rem;
}

section#hero .framtid {
  font-family: arial;
  /*Should change font*/
  text-transform: uppercase;
  margin-top: -6rem;
  width: 100%;
  color: #f9ebf6;
  text-align: center;
  margin-bottom: 3rem;
  z-index: -1;
}

/*STYLES FOR CONTACT BUTTON RIGHT BOTTOM CORNER*/
.contact-cr {
  width: 5rem;
  height: 5rem;
  background-color: rgba(176, 0, 139, 0.6);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  -webkit-box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
          box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Styles for each section*/
section {
  margin: auto;
  text-align: center;
  padding: 1rem 2.1875rem;
  margin: 3rem 0;
  overflow: hidden;
}

/*Styles for each purple box*/
section.round {
  background: #f9ebf6;
  border-radius: 100rem;
  padding: 6rem 2.1875rem;
}

/*Pretty obvious what's happening here*/
h1 {
  font-size: 3rem;
}

.after::after {
  content: '';
  display: block;
  padding: 0.04rem;
  background: #b0008b;
  width: 35%;
  margin: auto;
  margin-top: 1rem;
}

/*STYLES FOR OM INFO-MEDIA*/
section#om {
  grid-area: om;
}

section#om .text {
  margin: 3rem 0;
  line-height: 1.5rem;
}

section#om .om-btns {
  width: 100%;
  margin: auto;
  text-align: center;
}

section#om .om-btns input {
  margin-bottom: 1.5rem;
}

section#om #pic1 {
  width: 13rem;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  border-radius: 2rem;
  margin: 3rem 0 0 -17rem;
}

section#om #pic2 {
  width: 13rem;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  border-radius: 2rem;
  margin: -15rem 0 0 11rem;
}

section#om #pic3 {
  display: none;
}

/*Ankor 'gör' livet bättre ;-)*/
/*STYLES FOR VAD VI GÖR*/
section#gor {
  grid-area: gor;
  padding: 6rem 0;
  /*STYLES FOR THE LANGUAGE-GRID*/
}

section#gor h1 {
  margin: 0 2.1875rem 2rem 2.1875rem;
}

section#gor p {
  line-height: 1.5rem;
  margin: 2rem 2.1875rem;
}

section#gor #vr-img {
  display: none;
}

section#gor .btn {
  background: white;
  color: #b0008b;
  margin: 1rem 0 0 0;
}

section#gor .språk-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  padding: 0 2.1875rem;
  margin-top: 6rem;
}

section#gor .språk-grid-container .språk-item {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0.6rem;
  margin-right: 1rem;
}

section#gor .språk-grid-container .språk-item img {
  width: 4rem;
}

section#gor .språk-grid-container .språk-item p {
  margin-bottom: 0;
}

/*STYLES FOR VARFÖR INFO-MEDIA*/
section#varfor {
  grid-area: varfor;
}

section#varfor #blender {
  display: none;
}

section#varfor p {
  margin-top: 2rem;
  line-height: 1.5rem;
}

section#varfor #v-div {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2rem 0;
}

section#varfor .v-wrapper {
  width: 100%;
  margin-top: 2rem;
}

section#varfor .v-wrapper img {
  width: 17rem;
  border-radius: 1rem;
}

section#varfor .v-wrapper #v-img-1 {
  margin-right: -10rem;
}

section#varfor .v-wrapper #v-img-2 {
  margin-left: -10rem;
}

iframe {
  width: 100%;
  height: 15rem;
  margin-top: -2rem;
}

.card {
  border: 0.3rem solid #c191b7;
  background: #f9ebf6;
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
  margin: 4rem 2rem;
}

.card .tid {
  padding-top: 1.5rem;
}

.card #datum {
  font-size: 1.5rem;
}

.card p {
  line-height: 1.8rem;
  font-size: 1.2rem;
}

/*STYLES FOR KURSSTRUKTUR*/
section#Kursstruktur {
  grid-area: Kursstruktur;
  padding: 6rem 3rem;
}

section#Kursstruktur h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

section#Kursstruktur p {
  margin-top: 2rem;
  line-height: 1.5rem;
  line-height: 1.8rem;
}

section#Kursstruktur input {
  margin-top: 3rem;
}

/*STYLES FOR STUDIEPLAN*/
.poang-plan {
  grid-area: poang-plan;
  background: #f9ebf6;
  margin: auto;
  text-align: left;
  background: #f9ebf6;
  border-radius: 100rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /*STYLES FOR THE DISCLAIMER TEXT ABOUT NIU & RIG*/
  /*Styles for the actual discaimer text*/
}

.poang-plan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  text-align: left;
  margin-top: 2.5rem;
}

.poang-plan ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poang-plan ul li {
  list-style: none;
}

.poang-plan ul .ak2 {
  margin-right: 1rem;
  right: 9rem;
  z-index: 100;
}

.poang-plan .ak2p {
  margin-right: 3rem;
  right: 8rem;
}

.poang-plan div.div {
  background: #ffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poang-plan .NIU {
  padding: 0.5rem 0;
  color: #312e2e;
}

.poang-plan h3 {
  text-align: center;
  font-size: 2rem;
}

/*STYELS FOR ORD FRÅN TIDIGARE ELEVER*/
section#ord {
  grid-area: ord;
  padding: 3rem 2.1875rem;
  /*Styles for both former students*/
}

section#ord h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

section#ord div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.5rem auto;
  /*Styles för each former student*/
}

section#ord div#ett {
  direction: ltr;
}

section#ord div#two {
  direction: rtl;
}

section#ord div img {
  width: 4rem;
  border-radius: 50%;
}

section#ord div div {
  display: inline-block;
  margin: auto 1.5rem;
  font-size: 0.95rem;
}

section#ord div div .name {
  font-weight: bold;
  margin-top: 1rem;
  text-align: left;
}

section#ord div div .work {
  margin-top: 0.4rem;
  color: gray;
  font-size: 0.8rem;
  text-align: left;
}

section#ord div div p {
  font-style: italic;
  text-align: left;
}

/*STYLES FOR CONTACTPEOPLE*/
section#contact {
  grid-area: contact;
  padding: 1rem;
  margin: 3rem 1.5rem;
  /*Styles for our Anette*/
  /*Styles for each contactperson*/
}

section#contact .rtlperson {
  direction: rtl;
}

section#contact .rtlperson h3 {
  text-align: right;
}

section#contact .rtlperson p {
  direction: ltr;
}

section#contact .cperson h3 {
  text-align: left;
}

section#contact .cperson div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.3rem solid #f9ebf6;
  background-color: #f9ebf62d;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
}

section#contact .cperson div span {
  text-align: left;
  margin-left: 1.5rem;
  margin-right: auto;
}

section#contact .cperson div span h5 {
  font-size: 1rem;
}

section#contact .cperson div span a {
  text-decoration: none;
  color: #555555;
}

section#contact .cperson div span .mail:hover {
  text-decoration: underline;
  color: blue;
}

section#contact .cperson div span p {
  color: #555555;
}

section#contact .cperson div img {
  width: 3rem;
  border-radius: 50%;
}

/*STYLES FOR THE FOOTER*/
footer {
  grid-area: footer;
  background: #f9ebf6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-x: hidden;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .ic {
  text-decoration: none;
  color: inherit;
}

footer .con {
  grid-area: kontakt;
}

footer .besok {
  grid-area: besok;
}

footer .arrow {
  grid-area: arrow;
}

footer #alle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: alle;
  width: 13rem;
  margin: 1.0625rem;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0 0.4rem 0;
}

footer .sm {
  width: 2rem;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
}

footer .pil {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #f9ebf6;
  margin: auto;
}

footer .pil .pil:hover {
  -webkit-filter: drop-shadow(0 0 0.2rem blue);
          filter: drop-shadow(0 0 0.2rem blue);
}

footer #pil1 {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

footer #pil2 {
  margin-top: 0.1rem;
}

footer .footer3 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
      grid-template-areas: 'alle' 'copyright' 'ankan' 'author';
}

footer .ankann {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ankan;
  margin-top: 1rem;
}

footer .copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: copyright;
  margin-top: -1rem;
}

footer .author {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: author;
}

footer #best {
  width: 1.5rem;
}

footer p {
  padding: 0.5rem;
  margin-top: 0;
}

footer p a {
  color: inherit;
}

footer .ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

/*AnKoR aNkOr*/
/*---------------------------------------------MEDIA QUERY FOR DESKTOP---------------------------------*/
@media screen and (min-width: 600px) {
  button,
  input {
    cursor: pointer;
  }
  header {
    grid-area: header;
  }
  nav {
    padding: 1rem 5rem !important;
    max-width: 95rem;
    margin: auto;
  }
  nav .logo {
    width: 11rem !important;
  }
  nav span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 95rem !important;
    margin: auto;
  }
  nav span li {
    margin-bottom: 1rem !important;
  }
  nav span i {
    margin-right: 3rem;
  }
  nav span .i {
    width: 20rem;
  }
  .after::after {
    margin: 0;
  }
  .our-body {
    grid-area: our-body;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'hero hero' 'om poang-plan' 'varfor poang-plan' 'gor contact' 'iframe ord' 'card .';
    max-width: 95rem;
    margin: auto;
  }
  #Kursstruktur {
    display: none;
  }
  section#hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hero;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 5rem;
  }
  section#hero .imgg {
    border: 0;
    background: #f9ebf6;
    padding: 7rem;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-right: -5rem;
    margin-top: -5rem;
    border-bottom-left-radius: 18rem;
  }
  section#hero .imgg img {
    width: 40rem;
    height: auto;
    margin: -5rem auto;
    margin-left: -3rem;
    margin-bottom: -9rem;
    background: none !important;
  }
  section#hero span {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section#hero span h1 {
    text-align: left;
    font-size: 4rem;
    margin-top: 5.5rem;
  }
  section#hero span p {
    text-align: left;
    margin-left: 0;
    color: #707070;
    font-weight: 100 !important;
    font-style: italic;
    font-size: 2.8rem;
    width: 25rem;
    line-height: 3.5rem;
  }
  section#hero span .btns {
    text-align: left;
    margin-top: 3rem;
  }
  section#hero span .btns .white_t {
    border: 0.1rem solid #b0008b;
  }
  section#hero span .btns .purple_t {
    border: 0.1rem solid #b0008b;
  }
  section#om {
    padding: 0;
    margin: 0;
    padding-left: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    /*Magic to make pictures disappear*/
  }
  section#om .after,
  section#om .text,
  section#om .om-btns {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
  section#om .after input,
  section#om .text input,
  section#om .om-btns input {
    margin-left: 0;
    margin-right: 1rem;
  }
  section#om .text {
    width: 20rem;
    margin-top: 4rem;
  }
  section#om #pic1,
  section#om #pic2 {
    display: none;
  }
  section#om #pic3 {
    width: 20rem;
    height: auto;
    border-radius: 1.5rem;
    margin-top: 5rem;
    display: block;
  }
  section#gor {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: gor;
    text-align: center;
    background: white;
    text-align: left;
    border-radius: 0;
    margin: 0;
    padding: 0;
    margin-left: 5rem;
    margin-top: -9rem;
    z-index: 10;
  }
  section#gor #vr-img {
    display: block;
  }
  section#gor h3 {
    margin-top: 7rem;
    font-size: 1.8rem;
    margin-bottom: -5rem;
  }
  section#gor .span-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
  }
  section#gor .span-cont p::after {
    display: none;
  }
  section#gor .span-cont a {
    width: 100%;
  }
  section#gor .span-cont a input {
    margin-left: 5rem;
  }
  section#gor .span-cont img {
    width: 20rem;
    height: auto;
    border-radius: 1.5rem;
    margin-top: 3rem;
    margin-right: 2rem;
  }
  section#gor ::-webkit-scrollbar {
    width: 0;
  }
  section#gor .språk-grid-container {
    padding-left: 0;
    width: 100%;
  }
  section#gor .språk-grid-container .språk-item {
    background-color: #f9ebf6;
    margin: auto;
    padding: 2.5rem 2rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  section#gor .språk-grid-container .språk-item img {
    width: 6rem;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  section#gor .språk-grid-container .språk-item p {
    margin: 0;
    margin-top: 1rem;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  section#gor input {
    color: #fff !important;
    background: #b0008b !important;
    cursor: pointer;
  }
  section#gor h1,
  section#gor p {
    margin-left: 0;
  }
  section#gor .text {
    width: 5rem;
    max-width: 24.5rem;
  }
  section#varfor {
    padding: 0;
    margin: 0;
    padding-left: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: -10rem;
    margin-bottom: -3rem;
  }
  section#varfor #blender {
    display: block;
  }
  section#varfor span {
    text-align: left;
    margin-left: 2.5rem;
  }
  section#varfor img {
    width: 20rem;
    border-radius: 1.5rem;
    margin-top: 3rem;
  }
  section#varfor .v-wrapper {
    display: none;
  }
  section.poang-plan {
    border-radius: 3rem;
    margin-right: 5rem !important;
    max-width: 24.5rem;
  }
  section.poang-plan h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: -1.5rem;
  }
  #contact {
    width: 24.5rem !important;
    margin: 0 !important;
    margin-right: 5rem !important;
    margin-left: auto !important;
    padding: 0 !important;
    margin-top: 5rem !important;
  }
  #ord {
    margin-top: -3rem;
    background: #f9ebf6;
    border-radius: 3rem;
    overflow: visible;
    margin: auto;
    margin-right: 5rem;
    padding: 2rem 1rem 2rem 1.5rem !important;
    margin-top: 8rem;
  }
  #ord .sub {
    width: 15rem;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.2rem;
  }
  iframe {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: iframe;
    margin-left: 5rem;
    width: 88%;
    height: 25rem;
    margin-top: 8rem;
  }
  .card {
    border: 0.3rem solid #c191b7;
    background: #f9ebf6;
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: card;
    margin-left: 5rem;
    margin-top: -17rem;
  }
  .card .tid {
    padding-top: 1.5rem;
  }
  .card #datum {
    font-size: 1.5rem;
  }
  .card p {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
  footer {
    max-width: 95rem;
    margin: auto;
    margin-top: 10rem;
    padding: 0;
    border-radius: 0;
    text-align: left;
    background: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65% 35%;
        grid-template-columns: 65% 35%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'footer-wrapper footer3';
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  footer a:hover {
    text-decoration: underline;
    color: inherit;
  }
  footer .ic {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin-top: 0.8rem;
  }
  footer .sm {
    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  footer .pinn {
    margin-left: -0.2rem;
  }
  footer h3 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  footer .arrow {
    padding: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  footer #alle {
    width: 15rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: alle;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }
  footer .copyright {
    margin: 0.5rem auto !important;
    z-index: 100;
    padding: 0;
    font-size: 0.9rem;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: copyright;
    margin-right: -2rem;
    margin-top: 0.8rem;
  }
  footer span {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ankan;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  footer .author {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: author;
    margin-right: 0;
    text-align: center;
  }
  footer #con {
    margin-top: 0;
    padding-top: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: kontakta;
  }
  footer .besok {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: besok;
  }
  footer .footer-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-wrapper;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'arrow arrow' 'kontakta besok';
    background: #f9ebf6;
    border-top-right-radius: 15rem;
    padding-left: 5rem;
    padding: 0 5rem 5rem 5rem;
  }
  footer .footer3 {
    margin: 6rem 5rem 0 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer3;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'alle' 'copyright' 'ankan' 'author';
    margin-left: auto;
    padding: 0;
  }
}

#pilpil {
  width: 50% !important;
  margin-top: -1.5rem !important;
  -webkit-filter: drop-shadow(0 0 0.3rem #b0008b);
          filter: drop-shadow(0 0 0.3rem #b0008b);
}

body {
  margin: 0 !important;
}

.hero2 {
  grid-area: hero;
}

#hero {
  max-width: 95rem;
  margin: auto !important;
  width: 100%;
}

#bodyy {
  max-width: 95rem;
  margin: auto;
}

.poang-plan {
  background: #f9ebf6;
  margin: auto;
  text-align: left;
  background: #f9ebf6;
  border-radius: 100rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  grid-area: poang-plan;
}

.poang-plan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  text-align: left;
}

.poang-plan ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poang-plan ul li {
  list-style: none;
}

.poang-plan ul .ak2 {
  margin-right: 1rem;
  right: 9rem;
  z-index: 100;
}

.poang-plan ul .ak2p {
  margin-right: 3rem;
  right: 8rem;
}

.poang-plan div.div {
  background: #ffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poang-plan .NIU {
  padding: 0.5rem 0;
  color: #312e2e;
}

.poang-plan h3 {
  text-align: center;
  font-size: 2rem;
}

/*STYLES FOR ALL INFO(all text) ABOUT THE AREAS*/
#allinfo {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  grid-area: allinfo;
  /*Öppet Hus styles, the card thing*/
}

#allinfo p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

#allinfo title {
  text-align: center;
}

#allinfo h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}

#allinfo #card {
  background: #f9ebf6;
  border: 0.3rem solid #c191b7;
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  text-align: center;
}

#allinfo #card #datum {
  font-size: 1.2rem;
  font-weight: 550;
}

#allinfo #card p {
  font-size: 1.2rem;
  font-weight: 600;
}

/*STYLES FOR THE FOOTER*/
footer {
  background: #f9ebf6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  grid-area: footer;
  /*nummer osv m. ikoner*/
}

footer #alle {
  width: 45%;
  margin: 1.0625rem;
}

footer h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 0.5rem 0;
}

footer .sm {
  width: 2rem;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
}

footer .pil {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #f9ebf6;
  margin: auto;
}

footer #pil1 {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

footer #pil2 {
  margin-top: 0.1rem;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

footer #best {
  width: 1.5rem;
}

footer p {
  padding: 0.5rem;
  margin-top: 0;
}

footer .ic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

/*--MEDIA QUERY FOR DESKTOP--*/
@media screen and (min-width: 600px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  #allinfo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: allinfo;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-right: 5rem;
  }
  #allinfo .title1 {
    margin-top: 0;
    padding-top: 0;
  }
  /*Grid rules for the structure*/
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'header header' 'hero hero' 'body body' 'footer footer';
  }
  /*Styles för Ord från tidigare elever*/
  #ord {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: ord;
    margin-top: 5rem;
  }
  /*Styles för Kontakt section*/
  #contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: contact;
  }
  #bodyy {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'allinfo poang-plan' 'allinfo ord' 'allinfo contact';
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: body;
    padding-left: 5rem;
  }
  .hero2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hero;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 5rem 5rem;
  }
  .hero2 .imgg {
    border: 0;
    background: #f9ebf6;
    padding: 7rem;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-right: -5rem !important;
    margin-top: -5rem;
    border-bottom-left-radius: 18rem;
  }
  .hero2 .imgg img {
    width: 40rem;
    height: auto;
    margin: -5rem auto;
    margin-left: -3rem;
    margin-bottom: -9rem;
    background: none !important;
  }
  .hero2 span {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .hero2 span h1 {
    text-align: left;
    font-size: 4rem;
    margin-top: 5.5rem;
  }
  .hero2 span p {
    text-align: left;
    margin-left: 0;
    color: #707070;
    font-weight: 100 !important;
    font-style: italic;
    font-size: 2.8rem;
    width: 25rem;
    line-height: 3.5rem;
  }
  .hero2 span .btns {
    text-align: left;
    margin-top: 3rem;
  }
  .hero2 span .btns .white_t {
    border: 0.1rem solid #b0008b;
  }
  .hero2 span .btns .purple_t {
    border: 0.1rem solid #b0008b;
  }
  /*STYLES FOR THE FOOTER*/
  footer {
    margin: 0;
    margin-top: 10rem;
    padding: 0;
    border-radius: 0;
    text-align: left;
    background: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65% 35%;
        grid-template-columns: 65% 35%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'footer-wrapper footer3';
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  footer .ic {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin-top: 0.8rem;
  }
  footer .sm {
    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  footer .pinn {
    margin-left: -0.2rem;
  }
  footer h3 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  footer .arrow {
    padding: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  footer .arrow #pil1 {
    padding-top: 0;
    margin-top: 0;
  }
  footer #alle {
    width: 15rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: alle;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }
  footer .copyright {
    z-index: 100;
    padding: 0;
    font-size: 0.9rem;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: copyright;
    margin-right: -2rem;
    margin-top: 0.8rem;
  }
  footer span {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: ankan;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  footer .author {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: author;
    margin-right: 0;
  }
  footer #con {
    margin-top: 0;
    padding-top: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: kontakta;
  }
  footer .besok {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: besok;
  }
  footer .footer-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer-wrapper;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'arrow arrow' 'kontakta besok';
    background: #f9ebf6;
    border-top-right-radius: 15rem;
    padding-left: 5rem;
    padding: 0 5rem 5rem 5rem;
  }
  footer .footer3 {
    margin: 6rem 5rem 0 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: footer3;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'alle' 'copyright' 'ankan' 'author';
    margin-left: auto;
    padding: 0;
  }
}
/*# sourceMappingURL=lasmer.css.map */