/*Importing the holy font. Da RALEWAY*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; /*The holy font*/
}

/*Creating shortcuts/variables for the colors*/
:root{
    --purple: #B0008B;
    --purple-l: rgba(176, 0, 138, 0.08);
}

/* The default design for all btns */

.btn{
    border-radius: 5.9375rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.1rem
}

.purple_t{
    color: #fff; 
    background: var(--purple);
    margin-left: .5rem;
}

.white_t{
    margin-right: .5rem;
    background: #fff;
    color: var(--purple);
}