@import 'mediaquery.scss';
//root
$purple: #b0008b;
$purple-l: #f9ebf6;

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; /*The holy font*/
}

.purple_t {
  color: #fff;
  background: $purple;
  margin-left: 0.5rem;
}

.white_t {
  margin-right: 0.5rem;
  background: #fff;
  color: $purple;
}

.btn {
  border-radius: 5.9375rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.1rem;
}
/* Ankor are the best även här*/
//Kontaktknapp

header {
  background-color: $purple-l;
  position: fixed;
  z-index: 111;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.1875rem;

    .logo {
      width: 9rem;
    }

    /* Menu functionality */
    .menu-btn {
      height: 1rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .menu-btn_burger {
        width: 2rem;
        height: 0.15rem;
        background-color: #38524f;
        transition: all 0.5s ease-in-out;
      }
    }

    ul {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 111;
      background: rgba(255, 213, 246, 0.548);
      backdrop-filter: blur(100px);
      padding: 1rem 2.1875rem;
      display: flex;
      flex-direction: column;
      opacity: 0;

      &.activ {
        animation: fadeIn 0.35s cubic-bezier(0.8, 0.61, 0.37, 0.72);

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          1% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        opacity: 1;

        @keyframes upper {
          0% {
            margin-top: 4rem;
            opacity: 0;
          }
          1% {
            margin-top: 4rem;
            opacity: 0;
          }
          100% {
            margin-top: 2rem;
            opacity: 1;
          }
        }
      }

      i {
        margin-left: auto;
        margin-top: 1.19rem;
        margin-bottom: 3rem;
      }

      li {
        margin-top: 2rem;
        margin-left: 1rem;
        list-style: none;
        text-align: left;
        animation: upper 0.65s cubic-bezier(0, 0, 0.2, 1);

        a {
          text-decoration: none;
          font-size: 2rem;
          color: #38524f;
          font-weight: thin;
          background-image: linear-gradient(#38524f, #38524f);
          background-size: 0 0.105rem;
          background-repeat: no-repeat;
          background-position: left bottom;
          transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);

          &:hover {
            background-size: 100% 0.105rem;
          }
        }
      }

      div.i {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 1rem;

        img {
          width: 2rem;
        }
      }
    }

    .open {
      display: flex;
    }
  }
}
/*Yes, ankor är otroliga*/
/* Hero section */
section#hero {
  grid-area: header;
  padding: 0;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: 0 0 3rem 0;
  background: $purple-l;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  z-index: 5;

  h1 {
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    color: $purple;
  }

  p {
    text-align: center;
    margin: 2rem 2rem;
    font-size: 3rem;
    font-weight: 300;
  }

  .btns {
    text-align: center;
    margin-top: 1rem;
  }

  img {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
  }

  .framtid {
    font-family: arial; /*Should change font*/
    text-transform: uppercase;
    margin-top: -6rem;
    width: 100%;
    color: $purple-l;
    text-align: center;
    margin-bottom: 3rem;
    z-index: -1;
  }
}

//contact
.contact-cr {
  width: 5rem;
  height: 5rem;
  background-color: rgba(176, 0, 139, 0.6);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
  backdrop-filter: blur(5rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: auto;
  text-align: center;
  padding: 1rem 2.1875rem;
  margin: 3rem 0;
  overflow: hidden;
}

section.round {
  background: $purple-l;
  border-radius: 100rem;
  padding: 6rem 2.1875rem;
}

h1 {
  font-size: 3rem;
}

.after::after {
  content: '';
  display: block;
  padding: 0.04rem;
  background: $purple;
  width: 35%;
  margin: auto;
  margin-top: 1rem;
}

section#om {
  grid-area: om;
  .text {
    margin: 3rem 0;
    line-height: 1.5rem;
  }

  .om-btns {
    width: 100%;
    margin: auto;
    text-align: center;

    input {
      margin-bottom: 1.5rem;
    }
  }

  /*First two pictures*/
  #pic1 {
    width: 13rem;
    transform: rotate(-17deg);
    border-radius: 2rem;
    margin: 3rem 0 0 -17rem;
  }

  #pic2 {
    width: 13rem;
    transform: rotate(12deg);
    border-radius: 2rem;
    margin: -15rem 0 0 11rem;
  }

  /*ettor och nollor insert here*/
}
/*Ankor 'gör' livet bättre ;-)*/
section#gor {
  grid-area: gor;
  padding: 6rem 0;

  h1 {
    // font-size: 3.2rem;
    margin: 0 2.1875rem 2rem 2.1875rem;
  }

  p {
    line-height: 1.5rem;
    margin: 2rem 2.1875rem;
  }

  .btn {
    background: white;
    color: $purple;
    margin: 1rem 0 0 0;
  }

  .språk-grid-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0 2.1875rem;
    margin-top: 4rem;

    .språk-item {
      background: #fff;
      border-radius: 1rem;
      padding: 1.5rem 0.6rem;
      margin-right: 1rem;

      img {
        width: 4rem;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

section#varfor {
  grid-area: varfor;

  p {
    margin-top: 2rem;
    line-height: 1.5rem;
  }

  #v-div {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
  }

  .v-wrapper {
    width: 100%;
    margin-top: 2rem;

    img {
      width: 17rem;
      border-radius: 1rem;
    }

    #v-img-1 {
      margin-right: -10rem;
    }

    #v-img-2 {
      margin-left: -10rem;
    }
  }
}

section#Kursstruktur {
  grid-area: Kursstruktur;
  padding: 6rem 3rem;

  h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  p {
    margin-top: 2rem;
    line-height: 1.5rem;
    line-height: 1.8rem;
  }
  input {
    margin-top: 3rem;
  }
}

.poang-plan {
  grid-area: poang-plan;
  background: $purple-l;
  margin: auto;
  text-align: center;
  background: $purple-l;
  border-radius: 100rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    text-align: left;

    li {
      list-style: none;
    }
  }

  div.div {
    background: #ffff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
  }

  .NIU {
    padding: 0.5rem 0;
    color: rgb(49, 46, 46);
  }

  h3 {
    text-align: center;
    font-size: 2rem;
  }
}

section#ord {
  grid-area: ord;
  padding: 3rem 2.1875rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  /*both students*/
  div {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem auto;

    &#2 {
      direction: ltr;
    }

    &#2 {
      direction: rtl;
    }

    img {
      width: 4rem;
      border-radius: 50%;
    }
    /*each separate student*/
    div {
      display: inline-block;
      margin: auto 1.5rem;
      font-size: 0.95rem;

      .name {
        font-weight: bold;
        margin-top: 1rem;
        text-align: left;
      }

      .work {
        margin-top: 0.4rem;
        color: gray;
        font-size: 0.8rem;
        text-align: left;
      }

      p {
        font-style: italic;
        text-align: left;
      }
    }
  }
}

section#contact {
  grid-area: contact;
  padding: 1rem;
  margin: 3rem 1.5rem;

  #rtlperson {
    direction: rtl;

    h3 {
      text-align: right;
    }
    p {
      direction: ltr;
    }
  }

  .cperson {
    h3 {
      text-align: left;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.3rem solid $purple-l;
      background-color: #f9ebf62d;
      padding: 1rem;
      border-radius: 1rem;
      margin: 1.5rem 0;

      span {
        text-align: left;
        margin-left: 1.5rem;
        margin-right: auto;
        h5 {
          font-size: 1rem;
        }
        a {
          text-decoration: none;
          color: rgb(85, 85, 85);
        }
        p {
          color: rgb(85, 85, 85);
        }
      }

      img {
        width: 3rem;
        border-radius: 50%;
      }
    }
  }
}

footer {
  grid-area: footer;
  background: $purple-l;
  align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  #alle {
    width: 45%;
    margin: 1.0625rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0 0.5rem 0;
  }

  .sm {
    width: 2rem;
    margin: 2rem 0.5rem 1.5rem 0.5rem;
  }
  .pil {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    background: $purple-l;
    margin: auto;

    .pil:hover {
      filter: drop-shadow(0 0 0.2rem blue);
    }
  }
  #pil1 {
    margin-top: 0.5rem;
    margin-bottom: -1rem;
  }
  #pil2 {
    margin-top: 0.1rem;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  #best {
    width: 1.5rem;
  }
  p {
    padding: 0.5rem;
    margin-top: 0;
  }

  .ic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .icon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}
/*AnKoR aNkOr*/

/*--< MEDIA QUERY FOR DESKTOP >--*/
@media screen and (min-width: 600px) {
  button,
  input {
    cursor: pointer;
  }
  header {
    grid-area: header;
  }

  nav {
    background: rgb(255, 255, 255);
    padding: 1rem 5rem !important;

    .logo {
      width: 11rem !important;
    }
  }

  .after::after {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
      'header header'
      'hero hero'
      'om poang-plan'
      'varfor .'
      'gor gor'
      'contact ord'
      'footer footer';
  }

  #Kursstruktur {
    display: none;
  }

  section#hero {
    grid-area: hero;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 5rem 5rem;

    .imgg {
      border: 0;
      background: $purple-l;
      padding: 7rem;
      flex-grow: 2;
      margin-right: -5rem;
      margin-top: -5rem;
      border-bottom-left-radius: 18rem;
      height: 100vh;

      img {
        width: 40rem;
        height: auto;
        margin: -5rem auto;
        margin-left: -3rem;
        margin-bottom: -9rem;
        background: none !important;
      }
    }

    span {
      margin: 0;
      padding: 0;
      flex-grow: 1;

      h1 {
        text-align: left;
        font-size: 4rem;
        margin-top: 5.5rem;
      }

      p {
        text-align: left;
        margin-left: 0;
        color: #707070;
        font-weight: 100 !important;
        font-style: italic;
        font-size: 2.8rem;
        width: 25rem;
        line-height: 3.5rem;
      }

      .btns {
        text-align: left;
        margin-top: 3rem;

        .white_t {
          border: 0.1rem solid $purple;
        }

        .purple_t {
          border: 0.1rem solid $purple;
        }
      }
    }
  }
  section#om {
    padding: 0;
    margin: 0;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;


    .after,
    .text,
    .om-btns {
      text-align: left;
      margin-left: 0;
      padding-left: 0;

      input{
        margin-left: 0;
        margin-right: 1rem;
      }
    }

    .text {
      width: 20rem;
      margin-top: 4rem;
    }

    #pic1,
    #pic2 {
      display: none;
    }

    #pic3 {
      width: 20rem;
      height: auto;
      border-radius: 1.5rem;
      margin-top: 5rem;
    }
  }

  section#gor {
    text-align: center;
    background: white;
    text-align: left;
    border-radius: 0;
    margin: 0;
    padding: 0;
    margin-left: 5rem;
    margin-top: -4rem;

    .span-cont{
      display: flex;
      justify-content: space-between;
      align-items: start;
      width: 60%;

      p::after{
        display: none;
      }
      
      a{
        width: 100%;

        input{
          margin-left: 5rem;
        }
      }

      img{
        width: 20rem;
        height: auto;
        border-radius: 1.5rem;
        margin-top: 3rem;
        margin-right: 2rem;
      }
    }

    ::-webkit-scrollbar {
      width: 0;
    }

    .språk-grid-container {
      padding-left: 0;
      .språk-item {
        background-color: $purple-l;
        margin: auto;
        padding: 2.5rem 2rem;
        margin-right: 1.5rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: rotate(2deg);

        img{
          width: 6rem;
          transform: rotate(-2deg);
        }

        p{
          margin: 0;
          margin-top: 1rem;
          transform: rotate(-2deg);
        }
      }
    }

    input {
      color: #fff !important;
      background: #b0008b !important;
      cursor: pointer;
    }

    h1,
    p {
      margin-left: 0;
    }

    .text {
      width: 5rem;
      max-width: 24.5rem;
    }
  }
  section#varfor {
    padding: 0;
    margin: 0;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -30rem;

    span{
      text-align: left;
      margin-left: 2.5rem;
    }

    img{
      width: 20rem;
      border-radius: 1.5rem;
      margin-top: 3rem;
    }

    .v-wrapper{
      display: none;
    }
  }

  section.poang-plan {
    border-radius: 3rem;
    margin-right: 5rem !important;
    max-width: 24.5rem;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      margin-top: -1.5rem;
    }
  }
  #contact {
  }
  #ord {
    margin-top: -3rem;
    background: $purple-l;
    border-radius: 3rem;
    overflow: visible;
    margin: auto;
    margin-right: 5rem;
    padding: 2rem 1rem 2rem 1.5rem !important;

    .sub {
      width: 15rem;
      background: #fff;
      border-radius: 1.5rem;
      padding: 1.2rem;
    }
  }
  footer {
    border-top-right-radius: 20rem;

    a {
      text-decoration: none;
    }
  }
}
