//root
$purple: #B0008B;
$purple-l: #F9EBF6;

*, html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; /*The holy font*/
}

.purple_t{
  color: #fff; 
  background: $purple;
  margin-left: .5rem;
}

.white_t{
  margin-right: .5rem;
  background: #fff;
  color: $purple;
}

.btn{
  border-radius: 5.9375rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.1rem
}

//Kontaktknapp

header{
  background-color: $purple-l;
  position: fixed;
  z-index: 111;
  width: 100%;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.1875rem;
    

    .logo {
      width: 9rem;
    }

    /* Menu functionality */
    .menu-btn{
      height: 1rem;
      cursor: pointer;
      transition: all .5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .menu-btn_burger{
        width: 2rem;
        height: .15rem;
        background-color: #38524F;
        transition: all .5s ease-in-out;
      }
    }

    ul{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 111;
      background: rgba(255, 213, 246, 0.548);
      backdrop-filter: blur(100px);
      padding: 1rem 2.1875rem;
      display: flex;
      flex-direction: column;

      i{
        margin-left: auto;
        margin-top: 1.19rem;
        margin-bottom: 3rem;
      }

      li{
        margin-top: 2rem;
        margin-left: 1rem;
        list-style: none;
        text-align: left;
        
        a{
          text-decoration: none;
          font-size: 2rem;
          color: #38524F;
          font-weight: thin;
          background-image: linear-gradient(#38524F, #38524F);
          background-size: 0 0.105rem;
          background-repeat: no-repeat;
          background-position: left bottom;
          transition: background-size 500ms cubic-bezier(0.55, 0.16, 0, 0.94);

          &:hover{
            background-size: 100% 0.105rem;
          }
        }
      }

      div.i{
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 1rem;

        img{
          width: 2rem;
        }
      }
    }

    .open{
      display: flex;
    }
  }
}

/* Hero section */
section#hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $purple-l;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  z-index: 5;
  padding-top: 5rem;

  h1{
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    color: $purple;
  }

  p{
    text-align: center;
    margin: 2rem 2rem;
    font-size: 3rem;
    font-weight: 300;
  }

  .btns{
    text-align: center;
    margin-top: 1rem;
    
  }

  img{
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
  }

  .framtid{
    font-family: arial; /*Should change font*/
    text-transform: uppercase;
    margin-top: -6rem;
    width: 100%;
    color: $purple-l;
    text-align: center;
    margin-bottom: 3rem;
    z-index: -1;
  }
}

//contact 
.contact-cr{
  width: 5rem;
  height: 5rem;
  background-color: rgba(176, 0, 139, 0.6);
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0 0.1rem 0.9rem -3px rgba(197, 32, 132, 0.5);
  backdrop-filter: blur(5rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

section#om{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem 2.1875rem;
  overflow: hidden;
  margin-top: 3rem;

  h1{
    font-size: 3rem;
  }

  .text{
    margin: 3rem 0;
    line-height: 1.5rem;
  }

  .om-btns{
    width: 100%;
    margin: auto;
    text-align: center;
    

    input{
      margin-bottom: 1.5rem;
    }
  }

  /*First two pictures*/
  #pic1{
    width: 13rem;
    transform: rotate(-17deg);
    border-radius: 2rem;
    margin: 3rem 0 0 -6rem;
  }

  #pic2 {
    width: 13rem;
    transform: rotate(12deg);
    border-radius: 2rem;
    margin: -15rem 0 0 11rem; 
  }

  /*ettor och nollor insert here*/
}

section#gor {
  text-align: center;
  background: $purple-l;
  border-radius: 100rem;
  padding: 2rem 0;

  h1{
    font-size: 3.2rem;
    width: 50%; /*100% makes it centered apparently*/
    margin: 3.5rem 0 3rem 6rem; /*Make it more centered if needed*/
  }

  p {
    margin: 0 2rem 2rem 2rem;
    line-height: 1.5rem;
  }

  .btn{
    background: white;
    color: $purple;
  }

  .språk-grid-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 1rem 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;

    .språk-item{
      background: #fff;
      border-radius: 1rem;
      padding: 1.5rem 0.6rem;
      margin-right: 1rem;

      img{
        width: 4rem;
      }

      p{
        margin-bottom: 0;
      }
    }
  }
}

section#varfor{
  margin: auto;
  text-align: center;
  padding: 6rem 2.1875rem;
  overflow: hidden;

  h1{
    font-size: 3.2rem;
  }

  p{
    margin-top: 2rem;
    line-height: 1.5rem;
  }

  #v-div{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
  }

  .v-wrapper{
    width: 100%;
    margin-top: 2rem;

    img{
      width: 17rem;
      border-radius: 1rem;    
    }

    #v-img-1{
      margin-right: -10rem;
    }

    #v-img-2{
      margin-left: -10rem;
    }
  }
  
}

section#Kursstruktur{
  margin: auto;
  text-align: center;
  background: $purple-l;
  border-radius: 100rem;
  padding: 6rem 3rem;

  h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  p{
    margin-top: 2rem;
    line-height: 1.5rem;
    line-height: 1.8rem;
  }
  input{
    margin-top: 3rem;
  }
}

section#ord{
  width: 100%;
  padding: 6rem 2.1875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  /*both students*/
  div{
    display: flex;
    align-items: flex-start;
    margin: 1.5rem auto;

    &#2{
      direction: ltr;
    }

    &#2{
      direction: rtl;
    }

    img{
      width: 4rem;
      border-radius: 50%;
    }
    /*each separate student*/
    div{
      display: inline-block;
      margin: auto 1.5rem;
      font-size: 0.95rem;

      .name {
        font-weight: bold;
        margin-top: 1rem;
      }

      .work{
        margin-top: 0.4rem;
        color: gray;
        font-size: 0.8rem;
      }

      p{
        font-style: italic;
      }
    }
  } 
}

#contact{
  margin: auto;
  background: $purple-l;
  border-radius: 100rem;
  padding: 6rem 0;
  margin-bottom: 5rem;
  
  h1{
    text-align: center;
    color: #38524F;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  form{
    margin: 0 2rem;
    margin-top: 3rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 0.6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header main main"
    "sidebar sidebar footer footer"
    "nothing . . ."
    "notnothing notnothing notnothing notnothing"
    ". else else ."; 

    input[type="text"]{
      border: none;
      padding: 0.9rem;
      border-radius: 0.5rem;
    }

    input[type="submit"]{
      margin-top: 1rem;
    }

  }
}

footer{
  background: $purple-l;
  align-items: center;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  #alle{
    width: 45%;
    margin: 1.0625rem;
  }
  h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0 0.5rem 0;
  }
  
  /*nummer osv m. ikoner*/

  .sm{
    width: 2rem;
    margin: 2rem 0.5rem 1.5rem 0.5rem;
  }
  .pil{
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    background: $purple-l;
    margin: auto;
    
    
  }
  #pil1{
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    
  }
  #pil2{
    
    margin-top: 0.1rem;
  }

  span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  #best{
    width: 1.5rem;
  }
  p{
    padding: 0.5rem;
    margin-top: 0;
  }

  .ic{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .icon{
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}