<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Authors" content="Abdullah & David">
        <link rel="stylesheet" href="css/style.css">
        <!--Some JS-script for great stuff-->
        <script src="https://unpkg.com/vue@3.0.0"></script>
        <title>Info-Media Website</title>
    </head>
    <!-- #app för att vi använder Vu.ja -->   
    <body id="app">
        <header id="start" class="purple-1">
            <nav class="flex i_center">
                <!-- Two icons for closing and opening the menu -->
                <a href="#start"><img class="logo" src="assets/img/infomedia.svg" alt="Info-Media"></a>
                <i v-if='!isOpen' class="menu-btn flex" :class='{ open: !isOpen }' @click='toggleMenu'>
                    <div class="menu-btn_burger"></div>
                    <div class="menu-btn_burger"></div>
                </i>
                    <!-- The menu itself  -->
                <ul v-if='isOpen' class="flex">
                    <i class="menu-btn flex" :class='{ open: isOpen }' @click='toggleMenu'>
                        <div class="menu-btn_burger"></div>
                        <div class="menu-btn_burger"></div>
                    </i>
                    <li><a href="#om">Om Info-media</a></li>
                    <li><a href="#gor">Vad vi gör</a></li>
                    <li><a href="#varfor">Varför Info-Media</a></li>
                    <li><a href="#struktur">Kursstruktur</a></li>
                    <li><a href="#kontakt">Kontakt</a></li>

                    <div class="i flex">
                        <a href="#"><img src='assets/icon/facebook-outline.svg'></img></a>
                        <a href="#"><img src='assets/icon/instagram.svg'></img></a>
                        <a href="#"><img src='assets/icon/email-outline.svg'></img></a>
                        <a href="#"><img src='assets/icon/phone-outline.svg'></img></a>
                        <a href="#"><img src='assets/icon/pin-outline.svg'></img></a>
                    </div>
                </ul>
            </nav>
        </header>
                
            </div>
        <!-- The hero section -->
        <section id="hero" class="flex j-center purple-1">
            <h1 class="t_center">Info-Media</h1>
            <p>Gör dina digitala idéer <i>verkliga</i></p>
            <div class="btns">
                <button class="btn white_t t_center" type="button">Öppet hus</button>
                <input class="btn purple_t t_center" type="button" value="Studieplan">
            </div>
            <img class="t_center" src="assets/img/hero.png" alt="Computah">
            <h1 class="framtid t_center">Framtid</h1>
        </section>

        <!-- The contacting floated circle -->
        <button class="contact">CN</button>
        
        <!-- "Om"-sektionen -->
        <section id="om" class="flex j_center t_center">
            <h1>Om <br> Info-Media</h1>
            <p class="text">Info-Media ger dig kunskaper om digital teknik. För dig som har intresset kring datorteknik, programmering, webbutveckling, 3D-modellering… så passar denna inriktning dig väldigt bra!</p>

            <div class="om-btns m_auto t_center">
                <!--fix da button-click thing-->
                <input class="btn purple_t" type="button" value="Läs mer" action="/las-mer.html"> 
                <input class="btn purple_t" type="button" value="Elev för en dag">
            </div>
            <img id="pic1" src="assets/img/code.jpg" alt="computar nerd">
            <img  id="pic2" src="assets/img/VR.jpg" alt="vr nerd">
        </section>
        
        <!-- "Vad vi gör"-sektionen -->
        <section id="gor" class="t_center purple-1">
            <h1>Vad vi gör</h1>

            <p>Här får du möjlighet till att utveckla och framställa dina digitala idéer.</p>
            <p>Alltifrån 3D-modellering av spel till programmering av hemsidor.</p>
            <p>Dina kunskaper utmanas ständigt som stärker din kunskap kring området.</p>
            <input class="btn purple" type="button" value="Läs mer">
            
        <!-- The grid of the languages that we are going to learn -->
            <div class="språk-grid-container flex">
                <div class="språk-item" v-for="item in språk">
                    <img :src="item.url" alt="språk">
                    <p>{{ item.title }}</p>
                </div>
            </div>    
            
        </section>
        
        <!-- "Varför Info-Media"-sektionen -->
        <section id="varfor" class="m_auto t_center">
            <h1>Varför <br> Info-Media?</h1>
            <p>I denna inriktning får du många framtida möjligheter till jobb inom datorteknik, eftersom jobb inom datorteknik är väldigt efterfrågat i samhället.</p>
            <div id="v-div" class="m_auto t_center"><input class="btn purple_t" type="button" value="Läs mer"></div>
            <div class='v-wrapper'><img id="v-img-1" src="assets/img/blalba.png" alt="Blender example"></div>
            <div class='v-wrapper'><img id="v-img-2" src="assets/img/codak.jpg" alt=""></div> <!--"Multipicture part1" -->
            <!-- <img src="assets/" alt=""> <!--"Multipicture part2" -->
        </section>
        
        <!-- Kursstruktur-sektionen -->
        <section id='Kursstruktur' class="m_auto t_center purple-1">
            <h1>Kursstruktur</h1>
            <p>Info-Media är uppdelat i två spår: Ingenjör- och teknikerspåret. Olika kurser läggs till beroende på vilket spår du väljer.</p>
            <p>Oberoende på vilket spår du väljer kommer du läsa kurserna: Webbserverprogrammering 1, Webbutveckling 1, Programmering 1, Dator- och nätverksteknik 1 & Digitalt skapande 1.</p>
            <input class="btn purple_t" type="button" value="Studieplan">
        </section>
        
        <!-- "Ord från tidigare elever"-sektionen -->
        <section id='ord' class="flex j_center">
            <h1 class="t_center">Ord från <br> tidigare elever</h1>
            <div class=" flex">
                <img id="1" src="assets/img/elev-Lucas-Wass.jpg" alt="">
                <!--Insert picture on first student -->
                <div>
                    <p class="sub">"Skolan har fantastiska och engagerade lärare som har hjälpt mig att utvecklas och skapa ett djupare intresse
                        inom matematik, fysik, CAD, bildredigering och programmering; ämnen jag använder mig av varje dag som
                        apputvecklare."</p>
                    <p class="name">Lukas Wass</p>
                    <p class="work">Apputvecklare på byBrick Elevate</p>
                </div>
            </div>
            
            <div>
                <img id="2" src="assets/img/elev-Emil-Ivarsson.jpg" alt="">
                <!--Insert picture on first student -->
                <div>
                    <p class="sub">"Det absolut viktigaste med att gå på teknik är att du får med dig massor av kunskap för framtiden och får
                        viktiga kurser för att kunna ha många valmöjligheter att välja den universitetsutbildning du vill gå i
                        framtiden."</p>
                    <p class="name">Emil Ivarsson</p>
                    <p class="work">Studerar vid Polishögskolan i Stockholm</p>
                </div>
            </div>
        </section>
        
        <!-- Kontakt-sektionen -->
        <section id="contact" class="m_auto purple-1">
            <h1 class="t_center">Kontakt</h1>
<!--EETTA OCHCHH TWÅOUA-->
            <!-- Etta och tvåa -->
            <form method="post">
                <label style=" grid-area: header;" for="fnamn">Förnamn</label>
                <label style=" grid-area: main;" for="lname">Efternamn</label>
                <input style=" grid-area: sidebar;" name="name" type="text">
                <input style=" grid-area: footer;" name='lname' type="text">
                <label style=" grid-area: nothing;" for="namn">E-mail</label>
                <input style=" grid-area: notnothing;" class='f' type="text">
                <input style=" grid-area: else;" class='btn white_t' type="submit" value="">
            </form>
        </section>

        <!-- The footer-section -->
        <footer class="purple-1 i_center t_center">
            <a href="#start">
                <img class="pil" id="pil1" src="assets/icon/arrow.png" alt="Hem"></img>
                <img class="pil" id="pil2" src="assets/icon/arrow.png" alt="Hem"></img>
            <a/>
            <img id="alle" src="assets/img/allelogo.png" alt="Allé Info-Media">
            <h3> Kontakt</h3>
            <p class="ic"><img class="icon" src="assets/icon/phone-outline.svg"> 0582-35 500</p>
            <p class="ic"><img class="icon" src="assets/icon/email-outline.svg"> alleskolan@alleskolan.eu</p>
            <h3>Besöksadress</h3>
            <p class="ic"><img class="icon" src="assets/icon/pin-outline.svg"> Södra Allén 14, Hallsberg</p>
            <a href="https://sv-se.facebook.com/alleskolanhallsberg/" class="fb">
            <img class="sm" src="assets/icon/facebook-outline.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com/alleskolan.eu/" class="insta">
            <img class="sm" src="assets/icon/instagram.svg" alt="Instagram"></a>
            
            <!--Most important area of the whole website 😎 -->
            <span><p class="anka">We ❤️ </p><img id="best" src="assets/img/ankan.png" alt="Fantastisk anka"></span>
            <p class="copyright">Copyright &copy; 2021 Alléskolan Hallsberg </p>
            <!-- 2nd-Most important area of the whole website 😎 -->
            <p class="author">Coded with ❤️ by David & Abdullah</p>     
        </footer>
        <!--Linking/fetching JS-script for some great functions-->
        <script src="js/app.js"></script>
    </body>
</html>