<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Authors" content="Abdullah & David">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/lasmer.css">
    <!--Some JS-script for great stuff-->
    <script src="https://unpkg.com/vue@3.0.0"></script>
    <title>"Läs mer"-sidan!</title>
</head>
<body class="app">
    <header id="start" class="purple-1">
        <nav class="flex i_center">
            <!-- Two icons for closing and opening the menu -->
            <a href="#start"><img class="logo" src="../assets/img/infomedia.svg" alt="Info-Media"></a>
            <i v-if='!isOpen' class="menu-btn flex" :class='{ open: !isOpen }' @click='toggleMenu'>
                <div class="menu-btn_burger"></div>
                <div class="menu-btn_burger"></div>
            </i>
            <!-- The menu itself  -->
            <ul v-if='isOpen' class="flex">
                <i class="menu-btn flex" :class='{ open: isOpen }' @click='toggleMenu'>
                    <div class="menu-btn_burger"></div>
                    <div class="menu-btn_burger"></div>
                </i>
                <li><a href="#om">Om Info-media</a></li>
                <li><a href="#gor">Vad vi gör</a></li>
                <li><a href="#varfor">Varför Info-Media</a></li>
                <li><a href="#struktur">Kursstruktur</a></li>
                <li><a href="#kontakt">Kontakt</a></li>

                <div class="i flex">
                    <a href="#"><img src='../assets/icon/facebook-outline.svg'></img></a>
                    <a href="#"><img src='../assets/icon/instagram.svg'></img></a>
                    <a href="#"><img src='../assets/icon/email-outline.svg'></img></a>
                    <a href="#"><img src='../assets/icon/phone-outline.svg'></img></a>
                    <a href="#"><img src='../assets/icon/pin-outline.svg'></img></a>
                </div>
            </ul>
        </nav>
    </header>

    <section class='poang-plan'>
        <dir>
            <ul>
                <li>Inriktningar</li>
                <li>Åk 2</li>
                <li>Inriktningar</li>
            </ul>
            <div>Dator- och nätverksteknik	</div>
        </dir>
    </section>
    <section id="hero" class="flex j-center purple-1">
        <h1 class="t_center">Info-Media</h1>
        <p><i>Mer info!</i></p>
        <div class="btns">
            <button class="btn white_t t_center" type="button">Öppet hus</button>
            <input class="btn purple_t t_center" type="button" value="Studieplan">
        </div>
        <img class="t_center" src="../assets/img/aboute.png" alt="Computah">
        <h1 class="framtid t_center">Framtid</h1>
    </section>
    <section id="allinfo">
        <title>Mer info!</title>
        <div id="om1">
            <h3>Om Info-Media</h3>
            <p>Info-Media, eller Informations- och medieteknik som det egentligen heter, lägger stort fokus kring datavärlden. Inriktningen är indelad i ett ingenjör- och teknikerspår, som man får välja till 2:an. Programmeringen ligger som en röd tråd genom hela utbildningen.</p>
        </br>
            <p>Info-Media ger dig en bred utbildning där du får fördjupa dig inom flera av de olika digitala medierna. Allt detta under endast två år som gör att du ska få en bred utbildning till vidare studier!</p>
        </br>
        <p>Är du nyfiken på att skapa egna appar och datorspel, programmera med VR, sätta upp och säkerställa egna datorservrar,
            lära dig om hur datorer fungerar? Då är nog denna inriktning något för dig!</p>
        </div>
        <div id="gor1">
            <h3>Vad vi gör</h3>
            <p>I utbildningen kommer du få lära dig att i grund och botten att programmera som ligger i bottenplanet när du senare ska framställa exempelvis appar och datorspel. Men även att få en inblick hur en dator är uppbyggd, om att konstruera ihop datordelar samt lära dig om hur trådbunden och trådlös nätverksteknik fungerar.</p>
        </br>
            <p>Du kommer bland annat att få stöta på språken: PHP, HTML5, CSS3, SASS & C#. Samt jobba med gränssnitt och arbeta i mjukvaror såsom Unity Engine (Spelrelaterat), Blender (3D-modellering), Adobe Photoshop (Grafik) samt Adobe XD (Prototyper av appar/hemsidor).</p>
        </br>
            <p>Du kommer att få lära dig om datorsäkerhet och hur man skyddar servrar från dataintrång. Få sätta upp din alldeles egna datorserver, konfigurera ett nätverk och skriva in koden som krävs för att skapa interaktiva webbplatser, men även testa dina alldeles egna loginsystem genom att göra olika typer av säkerhetskontroller.</p>
        </div>
        <div id="varfor1">
            <h3>Varför Info-Media</h3>
            <p>Har du tanken på att kanske bli en framtida systemutvecklare- eller administratör, spelutvecklare, eller varför inte en dataingenjör bland annat? I sådana fall skulle nog denna inriktning vara något för dig!</p>
        </br>
            <p>Info-Media syftar på dig som är nyfiken på vad den moderna datateknikvärlden har att erbjuda och bombar dig med grundkompetensen du behöver för att utbilda sig till den utbildning du vill som är datarelaterat. ADDD</p>
                
        </div>
        <div id="struktur1">
            <h3>Kurstruktur</h3>
            <p>ADD SOM SHT</p>
        </div>
        <div id="oppethus">
            <h3>Öppet Hus</h3>
            <p>På öppet hus får du som kanske blivande elev med anhöriga komma och få en inblick i hur det är på Alléskolan! Lärare i alla ämnen samt annan personal finns på plats för att ge er den information ni behöver, i allt detta sitter säkerligen elever och arbetar med pågående projekt som man kan titta på samt fråga elever om hur de har det på Alléskolan. Vi kan garantera dig som kanske blivande elev att få testa på olika sorters utmaningar för att känna på gymnasielivet lite grann!</p>
        </br>
            <p>Mer lokalt på teknikprogrammet så kommer även inriktningarna att vara öppna för frågor,  och ifall man är sugen på att äntligen få testa på VR så kan vi garantera dig en mäktig upplevelse av just det här i Mac-Labbet (B145)!</p>
        </br>
            <p>Datum för kommande öppet hus:</p>
        </br>
        <img src="../assets/icon/calendar.png" alt="KALÄNDEJ">
        <p>25/01-2022</p>
        <img src="../assets/icon/clock.svg" alt="KLÖCKA">
        <p>17:30 - 20:00</p>
        </div>
        <div id="elevforendag">
            <h3>Elev för en dag</h3>
            <p>“Elev-för-en-dag” innebär att du får gå med en önskad klass under en hel dag (eller bara några timmar), helt enkelt. Du får en djupare inblick hur det är som elev på gymnasiet. Du får möjlighet att prata med elever och lärare samt kika in i eventuella läroböcker som de använder.</p>
        </br>
            <p>Mer specifikt för “elev-för-en-dag” på teknikprogrammet så kan du få vara med om någon/några praktiska övningar/laborationer ifall du har tur, då teorin i undervisningen sätts i riktiga perspektiv.</p>
        </br>
            <p>För frågor kring “elev-för-en-dag” så kan du kontakta teknikprogrammets S.Y.V. (studie- och yrkesvägledare) ifall du har specifika frågor kring din vistelse hos Alléskolan.</p>
        </div>
    </section>
    <script src="../js/app.js"></script>
</body>
</html>